body {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(images/background.jpeg);
    overflow: hidden;
}

.card {
    display: grid;
    grid-template-columns: 300px;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "text" "stats";
  
    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    font-family: roboto;
    text-align: center;
    margin-left: 25px;
    margin-right: 25px;

    transition: 0.5s ease-in-out;
    cursor: pointer;
  }

.card-image {
    grid-area: image;
}

.card-text {
    grid-area: text;
}

.card-stats {
    grid-area: stats; 
}

.card-image1 {
    grid-area: image;
    background: url("images/contacts.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image2 {
    grid-area: image;
    background: url("images/me.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-image3 {
    grid-area: image;
    background: url("images/logo1.jpg");
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-size: cover;
}

.card-text {
    grid-area: text;
    margin: 25px;
}

.card-text .date {
    color: rgb(255, 7, 110);
    font-size:13px;
}

.card-text p {
    color: grey;
    font-size:15px;
    font-weight: 300;
}

.card-text h2 {
    margin-top:0px;
    font-size:28px;
}

.card:hover {
    transform: scale(1.15);
    box-shadow: 5px 5px 15px rgba(0,0,0,0.6);
  }

